.calcularora{

    width: 300px;
    margin: 50px auto;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: darkcyan;

}

input[type="button"]{
    width: 60PX;
    height: 60PX;
    margin: 5PX;
    font-size: 20PX;
    cursor: pointer;
}